'use strict'

module.exports = {
  NODE_ENV: '"development"',
  STATIC_PATH: '"static/"',
  API_ENDPOINT: '"http://localhost:8000/api/v1"'
  PAYPAL_ENDPOINT: '"https://www.paypal.com/sdk/js?currency=BRL&client-id="',
  YOUTUBE_API: {
    clientId: '"306974778664-a2ra6ob23otbfmtq1g5188h7gs51bn44.apps.googleusercontent.com"',
    scope: '"https://www.googleapis.com/auth/youtube.readonly https://www.googleapis.com/auth/yt-analytics.readonly"',
    prompt: '"consent"',
  },
}
